* {
    box-sizing: content-box;
  }

.head-txt {
  margin-bottom: 30px;
  background-image: url("../images/ep_naturalblack.png");
  color: red;
  font-family: Pacifico;
  font-size: 60pt;
}

.container {
  height: 100vh;
  width: 100%;
  background-image: url("../images/ep_naturalblack.png");
  margin: 0;
  padding: 0;
}

.left-column,
.game-text {
  color: white;
  font-family: Lobster;
  font-size: 20pt;
}

.hangman {
  width: 100%;
}

#reset {
  font-size: 20pt;
}